
.input {
	border: rgba(0, 0, 0, 1) solid 1px;
	border-radius: 3px 3px 3px 3px;
	width: 450px !important;
	height: 80px !important;
	color: rgba(128, 128, 128, 1);
	font-size: 30px;
	text-indent: 15px;
}
.button_div1 {
	padding: 200px 45px 45px 70px;
}
.button_div2 {
	padding: 20px 45px 45px 70px;
}
.button_div3 {
	padding: 20px 45px 45px 70px;
}
.button_div4 {
	padding: 130px 45px 20px 70px;
}
.bt {
	background-color: rgba(255, 166, 0, 1);
	border: rgb(255, 255, 255, 1) solid 1px;
	border-radius: 20px 20px 20px 20px;
	width: 400px;
	height: 80px;
	color: rgba(0, 0, 0, 1);
	font-size: 30px;
	justify-content: center;
}
.bt:hover{
	background-color:rgb(255,230,153,1);
}

.bt4 {
	background-color: rgb(255, 255, 255);
	border: rgb(255, 255, 255, 1) solid 1px;
	border-radius: 20px 20px 20px 20px;
	width: 400px;
	height: 80px;
	color: rgb(125, 122, 122);
	font-size: 20px;
	justify-content: center;
}


.phone {
	width: 576px !important;
	height: 1024px !important;
	background-color: rgba(255, 255, 255, 1);
}
.back {
	background-image: url(../image/back.png);
	background-size: auto;
	height: 60px !important;
	width: 60px !important;
}

.bottom {
  height: 100px !important;
  background-color: rgb(255,230,153,1);
  padding: 40px 50px 40px 50px;
}

.btm_icon {
  width: 90px !important;
  height: 90px !important;
  margin: 0 32px 0 32px;
border-style: none;
background-size: cover;
border-radius: 10px 10px 10px 10px;
}

.btm_choosed {
  background-color: rgb(255,192,0,1);
}
.btm_TL {
background-image: url(../image/TL.png);
}
.btm_cart {
background-image: url(../image/cart.png);
}
.btm_setting {
background-image: url(../image/setting.png);
}
.btm_free {
background-color: rgb(255,230,153,1);
}
.btm_free:hover {
background-color: rgb(255,192,0,1);
}